@import '_variables'

button
  outline: none

.btn
  border: none
  border-radius: 24px
  font-style: normal;
  font-weight: 600
  line-height: 24px
  rem(14)
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-left: 70px
  padding-right: 70px
  height: 48px

  &[disabled],
  &.disabled
      opacity: 0.5
      pointer-events: none

  &--blue
    background: $blue3
    box-shadow: 0px 2px 10px $blue2
    color: $white

    &:hover
      background: $blue4
      box-shadow: 0px 2px 10px $blue4