icomoon-font-path ?= "../fonts"

ic-hide-password = "\e900"
ic-show-password = "\e901"

@font-face
  font-family 'ot-icons'
  src url(icomoon-font-path + '/ot-icons.eot?olvexx')
  src url(icomoon-font-path + '/ot-icons.eot?olvexx#iefix') format('embedded-opentype'), url(icomoon-font-path + '/ot-icons.ttf?olvexx') format('truetype'), url(icomoon-font-path + '/ot-icons.woff?olvexx') format('woff'), url(icomoon-font-path + '/ot-icons.svg?olvexx#ot-icons') format('svg')
  font-weight normal
  font-style normal

[class^="ic-"], [class*=" ic-"]
  font-family 'ot-icons' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ic-hide-password
  &:before
    content ic-hide-password
.ic-show-password
  &:before
    content ic-show-password