.form-error
  color: $red2
  line-height: 20px
  rem(14)
  margin-top: 7px
  display: none
.input-group
  position: relative
.form-group
  width: 100%
  margin-bottom: 16px
.form-group--error
  input
    border: 2px solid $red
  .form-error
    display: block