@import '_variables'

.label
  font-style: normal
  font-weight: normal
  line-height: 24px
  rem(16)
  position: absolute
  pointer-events: none
  color: $gray
  top: 0
  left: 16px

  &-placeholder
    margin-top: 18px
    display: block
    &--top
      font-weight: 600
      line-height: 16px
      rem(11)
      text-transform: uppercase
      color: $gray3
      margin-top: 10px
      display: none

input
  rem(16)
  display: block
  border: 1px solid $gray2
  border-radius: 8px
  height: 64px
  font-family: 'IBM Plex Sans'
  padding-left: 16px
  padding-right: 16px

  &[disabled],
  &.disabled
      background-color: $white
      opacity: 0.5
      pointer-events: none

  &:focus
    outline: none
    border: 2px solid $blue

input
  &:focus ~ label > .label-placeholder--top,
  &:valid ~ label > .label-placeholder--top
    display: block
  &:focus ~ label > .label-placeholder,
  &:valid ~ label > .label-placeholder
    display: none

