.page-wrapper
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(122.01deg, #4ca9df 0%, #4395c4 100%)
  display: flex
  flex-direction: column
  height: 100%
