rem($size)
  font-size: ($size / 16 * 1rem)

.central-block
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%

.container
  padding-right: 20px
  padding-left: 20px
  height: 100%