/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.central-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
}
@font-face {
  font-family: 'ot-icons';
  src: url("../fonts/ot-icons.eot?olvexx");
  src: url("../fonts/ot-icons.eot?olvexx#iefix") format('embedded-opentype'), url("../fonts/ot-icons.ttf?olvexx") format('truetype'), url("../fonts/ot-icons.woff?olvexx") format('woff'), url("../fonts/ot-icons.svg?olvexx#ot-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ic-"],
[class*=" ic-"] {
  font-family: 'ot-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-hide-password:before {
  content: "\e900";
}
.ic-show-password:before {
  content: "\e901";
}
.form-error {
  color: #df4c4c;
  line-height: 20px;
  font-size: 0.875rem;
  margin-top: 7px;
  display: none;
}
.input-group {
  position: relative;
}
.form-group {
  width: 100%;
  margin-bottom: 16px;
}
.form-group--error input {
  border: 2px solid rgba(223,76,76,0.6);
}
.form-group--error .form-error {
  display: block;
}
.label {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 1rem;
  position: absolute;
  pointer-events: none;
  color: rgba(0,0,0,0.3);
  top: 0;
  left: 16px;
}
.label-placeholder {
  margin-top: 18px;
  display: block;
}
.label-placeholder--top {
  font-weight: 600;
  line-height: 16px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: rgba(0,0,0,0.5);
  margin-top: 10px;
  display: none;
}
input {
  font-size: 1rem;
  display: block;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  height: 64px;
  font-family: 'IBM Plex Sans';
  padding-left: 16px;
  padding-right: 16px;
}
input[disabled],
input.disabled {
  background-color: #fff;
  opacity: 0.5;
  pointer-events: none;
}
input:focus {
  outline: none;
  border: 2px solid rgba(76,169,223,0.6);
}
input:focus ~ label > .label-placeholder--top,
input:valid ~ label > .label-placeholder--top {
  display: block;
}
input:focus ~ label > .label-placeholder,
input:valid ~ label > .label-placeholder {
  display: none;
}
button {
  outline: none;
}
.btn {
  border: none;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-size: 0.875rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-left: 70px;
  padding-right: 70px;
  height: 48px;
}
.btn[disabled],
.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn--blue {
  background: #57c1ff;
  box-shadow: 0px 2px 10px rgba(0,161,255,0.3);
  color: #fff;
}
.btn--blue:hover {
  background: rgba(0,161,255,0.5);
  box-shadow: 0px 2px 10px rgba(0,161,255,0.5);
}
.page-wrapper {
  background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%), linear-gradient(122.01deg, #4ca9df 0%, #4395c4 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.authorization {
  background: #fff;
  box-shadow: 0px 20px 50px rgba(23,52,69,0.3);
  border-radius: 8px;
  font-family: 'IBM Plex Sans';
  max-width: 480px;
  width: 100%;
  padding-top: 49px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.authorization input {
  padding-top: 10px;
}
.authorization-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}
.authorization-input {
  width: 100%;
}
.authorization-text {
  line-height: 32px;
  font-size: 1.375rem;
  color: #000;
  padding-bottom: 25px;
}
.authorization-link {
  text-align: right;
  padding-top: 9px;
  padding-bottom: 9px;
}
.authorization .ic-show-password,
.authorization .ic-hide-password {
  position: absolute;
  font-size: 0.875rem;
  bottom: 14px;
  right: 18px;
  cursor: pointer;
  opacity: 0.5;
}
.authorization .ic-hide-password {
  font-size: 1.125rem;
  bottom: 11px;
}
.authorization .input-password {
  padding-right: 46px;
}
.authorization .form-group--submit {
  margin-bottom: 0;
  text-align: center;
}
.authorization a {
  line-height: 20px;
  font-size: 0.875rem;
}
@media only screen and (max-width: 360px) {
  .authorization {
    padding-left: 20px;
    padding-right: 20px;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #57c1ff;
  text-decoration: none;
}
