@import '_variables'
@import 'vendor/_normalize'
@import '_utilities'
@import '_fonts'
@import '_forms'
@import '_inputs'
@import '_buttons'
@import '_main'

//Authorization component
@import 'authorization/authorization'

html, body
  width: 100%
  height: 100%
  min-height: 100%;
body
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

a
  color: $blue3
  text-decoration: none