// ---------------------------------------------------------------------------
// Authorization component
// ---------------------------------------------------------------------------

@import '../_variables'

.authorization
  background: $white
  box-shadow: 0px 20px 50px rgba(23, 52, 69, 0.3)
  border-radius: 8px
  font-family: 'IBM Plex Sans'
  max-width: 480px
  width: 100%
  padding-top: 49px
  padding-bottom: 40px
  padding-left: 40px
  padding-right: 40px

  input
    padding-top: 10px

  &-logo
    display: flex
    justify-content: center
    padding-bottom: 34px

  &-input
    width: 100%

  &-text
    line-height: 32px
    rem(22)
    color: $black
    padding-bottom: 25px

  &-link
    text-align: right
    padding-top: 9px
    padding-bottom: 9px

  .ic-show-password,
  .ic-hide-password
    position: absolute
    rem(14)
    bottom: 14px
    right: 18px
    cursor: pointer
    opacity: 0.5

  .ic-hide-password
    rem(18)
    bottom: 11px

  .input-password
    padding-right: 46px

  .form-group--submit
    margin-bottom: 0
    text-align: center

  a
    line-height: 20px
    rem(14)

@media only screen and (max-width: 360px) {
  .authorization {
    padding-left: 20px
    padding-right: 20px
  }
}